:root {
    --pis: #073A76;
    --ko: #e19f39;
    --lewica: #ac145a;
    --td: #96d544;
    --konfederacja: #102440;
    --bs: #DA251D;
    --mn: #0780C4;
    --noParty: #fff;
}
.gmina
{
    stroke-width: 0.5;
    stroke: #242424;
}
.gmina:hover
{
    cursor: pointer;
    transition: all 0.25s ease-out;
    filter: drop-shadow(15px 15px 15px #000000);
}
.wojewodztwo {
    stroke-width: 2;
    stroke: #000;
}

.wojewodztwo:hover {
    cursor: pointer;
    transition: all 0.25s ease-out;
    filter: drop-shadow(15px 15px 15px #000000);
}
.powiat,
.okregSenacki {
    stroke-width: 1.5;
    stroke: #000;
}
.powiat:hover,
.okregSenacki:hover {
    cursor: pointer;
    transition: all 0.25s ease-out;
    filter: drop-shadow(15px 15px 15px #000000);
}
.noParty {
    fill: var(--noParty)
}
.selected
{
    stroke: white;
    stroke-width: 2;
}
.pis {
    fill: var(--pis);
}

.ko {
    fill: var(--ko);
}
.sp {
    fill: var(--ko);
}
.rwp {
    fill: var(--pis);
}
.lew {
    fill: var(--lewica);
}

.td {
    fill: var(--td);
}
.bs {
    fill: var(--bs);
}
.mn {
    fill:var(--mn);
}
.konf {
    fill: var(--konfederacja);
}
.bright30 {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}
.bright40 {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
}
.tossup {
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
}
.leaning {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}
.likely {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
}
.okregSenacki.tossup:hover {
    -webkit-filter: brightness(200%) drop-shadow(15px 15px 15px #000000);
    filter: brightness(200%) drop-shadow(15px 15px 15px #000000);
}
.okregSenacki.leaning:hover {
     -webkit-filter: brightness(150%) drop-shadow(15px 15px 15px #000000);
     filter: brightness(150%) drop-shadow(15px 15px 15px #000000);
 }
.okregSenacki.likely:hover {
    -webkit-filter: brightness(125%) drop-shadow(15px 15px 15px #000000);
    filter: brightness(125%) drop-shadow(15px 15px 15px #000000);
}