:root {
    --pis: #31469b;
    --ko: #fca43f;
    --lewica: #d44;
    --td: #8bd32e;
    --konfederacja: #655;
    --mn: #aaa
}
.gmina
{
    stroke-width: 0.5px;
    stroke: #242424;
}
.gmina:hover
{
    cursor: pointer;
    transition: all 0.25s ease-out;
    filter: drop-shadow(15px 15px 15px #000000);
}
.gmina.bright30:hover {
    -webkit-filter: brightness(125%) drop-shadow(15px 15px 15px #000000);
    filter: brightness(125%) drop-shadow(15px 15px 15px #000000);
}

.gmina.bright50:hover {
    -webkit-filter: brightness(75%) drop-shadow(15px 15px 15px #000000);
    filter: brightness(75%) drop-shadow(15px 15px 15px #000000);
}
.selectedMunicipality
{
    stroke: white;
    stroke-width: 2;
}
.pis {
    fill: var(--pis);
}

.ko {
    fill: var(--ko);
}

.lew {
    fill: var(--lewica);
}

.td {
    fill: var(--td);
}

.konf {
    fill: var(--konfederacja);
}

.bright30 {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
}

.bright50 {
    -webkit-filter: brightness(75%);
    filter: brightness(75%);
}
