.map{
    -webkit-box-shadow: inset 0 0 10px 1px rgba(12, 12, 12, 1);
    -moz-box-shadow: inset 0 0 10px 1px rgba(12, 12, 12, 1);
    box-shadow: inset 0 0 10px 1px rgba(12, 12, 12, 1);
    background-color: #202020;

}


.tabAnim {
    z-index: -9;
}

#option0:checked ~ div {
    --tw-translate-x: 0%;
}

#option1:checked ~ div {
    --tw-translate-x: 100%;
}

#option2:checked ~ div {
    --tw-translate-x: 200%;
}

#option3:checked ~ div {
    --tw-translate-x: 300%;
}